{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <title>{% block titulo %}Plantilla base{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Siguientes links para agregar Roboto mono font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

        <!--Siguiete para Roboto Flex-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet">

        {% block estilos %}{% endblock %}
    </head>

    <body>
        {% block cuerpo %}Cuerpo de la plantilla faceIDProject/templates/base.html{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
